body{
    background: linear-gradient(to right, rgb(58, 107, 199), lightgreen)
}

header{
    background-image: url("images/Ancestors.jpg");
    background-size: 100%;
    background-repeat:  no-repeat;
    max-width:75%
    max-height: 50%;
}

h1{
    height: 150px;
    font-size: 50px;
    color: rgb(52, 23, 179);
    text-align: center;
    text-decoration: wavy;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 5px 5px 5px rgb(242, 239, 243);
    padding-top:  100px;
}

h2{
    text-align:left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400px;
}

h3{
    background-color: rgb(62, 155, 161);
    text-align: center;
    font-family: cursive;
    font-weight: 400px;
}

#container {
    padding: 30px;
    border: 25px solid rgb(32, 12, 143);
    border-inline-start-color: rgb(108, 108, 212)
}

.section-one{
    color: black;
    font-size: 20px;
    font-style: italic;
    border: 20px green;
    border-left: 15pix;
}

.section-two{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bolder;
}

.section-three{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 20px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#container-two{
    border-start-end-radius: 20px;box-shadow: 25px;
}

.galleryone {
    border: 5px solid rgb(91, 44, 153);
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 0 20px;
    align-items: center;
}
.gallerytwo{
    border: 5px solid rgb(91, 44, 153);
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 0 20px;
    align-items: center;
}

.containerthree{
    border: 50px solid rgb(44, 46, 155);
}

.list-section{
    font-size: large;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(62, 155, 161);
}